<div class="box box-link-hover-shadow mt-5">
  <div class="table-container">
    <table class="table is-fullwidth is-bordered is-striped is-hoverable has-text-left">
      <thead>
        <tr class="has-background-success-light has-text-weight-bold">
          <th>Name</th>
          <th>Type</th>
          <th>Opening Hours</th>
        </tr>
      </thead>
      <tbody>
        {{#each trail.stops}}
        <tr>
          <td>{{title}}</td>
          <td>{{type}}</td>
          <td>{{hours}}</td>
          <td class="button-cell has-text-centered">
            <a href="/" class="button is-small has-background-success-light"> 
              <i style="color: Forestgreen" class="fas fa-trash"></i>
            </a>
          </td>
          <td class="button-cell has-text-centered">
            <form action="/station/{{stationId}}/report/{{reportId}}" method="POST"> 
              <a href="/trail/{{../trail._id}}/deletestop/{{_id}}" class="button has-background-success-light is-small">
                <i style="color: Forestgreen" class="fas fa-trash"></i>
              </a>
            </form>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
